In [2]:
def my_list(a,b):
    import random
    list1 = [random.randint(-10**a,10**b) for _ in range(10)]
    even = [i for i in list1 if i %2 == 0]
    odd = [i for i in list1 if i %2 == 1]
    return  list1 , even , odd

In [3]:
my_list(2,3)

([859, 715, 82, 638, -52, 735, 625, 45, 476, 560],
 [82, 638, -52, 476, 560],
 [859, 715, 735, 625, 45])

In [5]:
def divisible(a):
    list2 = [i for i in range(a) if i % 5 == 0 or i % 6 == 0]
    return list2

In [6]:
divisible(100)

[0,
 5,
 6,
 10,
 12,
 15,
 18,
 20,
 24,
 25,
 30,
 35,
 36,
 40,
 42,
 45,
 48,
 50,
 54,
 55,
 60,
 65,
 66,
 70,
 72,
 75,
 78,
 80,
 84,
 85,
 90,
 95,
 96]

تابعی بنویسید که یک کلمه خاص در یک فایل متنی را با کلمه دلخواه جایگزین کند

In [ ]:
with open('t4.txt','r') as f:
    c = f.read()
c = c.replace('I','We')
with open('t5.txt','w') as f:
   f.write(c)
with open('t5.txt','r') as d:
    h = d.read()
print(h)

1.	Horror: We like watching horror movies.
2.	South: We never traveled to southern cities.
3.	Dairy: We don't like dairy products.
1.	Horror: We like watching horror movies.
2.	South: We never traveled to southern cities.
3.	Dairy: We don't like dairy products.
1.	Horror: We like watching horror movies.
2.	South: We never traveled to southern cities.
3.	Dairy: We don't like dairy products.

In [3]:
def my_replace(t1,t2):
    with open('t4.txt','r') as f:
        c = f.read()
    c = c.replace('t1','t2')
    with open('t5.txt','w') as f:
        f.write(c)
    with open('t5.txt','r') as f:
        h = f.read()
    print(h)

In [4]:
my_replace('W','I')

1.	Horror: I like watching horror movies.
2.	South: I never traveled to southern cities.
3.	Dairy: I don't like dairy products.
1.	Horror: I like watching horror movies.
2.	South: I never traveled to southern cities.
3.	Dairy: I don't like dairy products.
1.	Horror: I like watching horror movies.
2.	South: I never traveled to southern cities.
3.	Dairy: I don't like dairy products.

In [ ]:
def n_reverse_print(n):
    from pprint import pprint
    len(c)
    b = len(c) - n
    b

In [ ]:
with open('t 1.txt','r') as f:
    x = f.read()
    #print(x)
    a = len(x)
    g = x.split()
    print('char = ' ,a)
    print('words = ' , len(g))
    print(g)
    l = [a,g]
with open('t 6.txt','w') as f:
    #f.write(a.g)
#file_path = 't 1.txt'

char =  17
words =  4
['hello', 'how', 'are', 'you']

In [70]:
import os
import time
import jdatetime
from datetime import datetime
file_path = 't8.txt'
creation_time = os.path.getctime(file_path)
readable_time = time.ctime(creation_time)
jalali_date = jdatetime.datetime.fromtimestamp(creation_time)
with open('t 1.txt','r') as f:
    x = f.read()
    a = len(x)
    w = len(x.split())
with open('t 6.txt', 'w') as f:
    f.write(f"{str(readable_time)}\n{str(jalali_date)}\n{str(a)}\n{str(w)}")

with open('t 6.txt', 'r') as f:
    s = f.read()
    print(s)

Wed May  7 21:48:21 2025
1404-02-17 21:48:21.975160
17
4

In [2]:
def my_file(file_path): 
    import os
    import time
    import jdatetime
    from datetime import datetime
    #file_path = 't8.txt'
    creation_time = os.path.getctime(file_path)
    readable_time = time.ctime(creation_time)
    jalali_date = jdatetime.datetime.fromtimestamp(creation_time)
    with open(file_path,'r') as f:
        x = f.read()
        a = len(x)
        w = len(x.split())
    with open('t.txt', 'w') as f:
        f.write(f"{str(readable_time)}\n{str(jalali_date)}\n{str(a)}\n{str(w)}")

    with open('t.txt', 'r') as f:
        s = f.read()
        print(s)

In [3]:
my_file('t 1.txt')

Thu May  1 18:19:17 2025
1404-02-11 18:19:17.901529
17
4